<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, width=device-width">
    <title>wired</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/javascript.js"></script>
  </head>
  <body>
    <header class="global-header">
      <div class="logo-bar">
        <div class="nav-btn-area">
          <button type="button" class="nav-btn"><img src="#" alt="nav-button"></button>
        </div>
        <div class="logo-area">
          <h1 class="logo">
            <a href="#"><img src="#" alt="site-logo"></a>
          </h1>
        </div>
        <div class="function-area">
          <button class="btn-subscribe" type="button">SUBSCRIBE</button>
          <button class="btn-search"><img src="#"></button>
        </div>
      </div>
      <nav class="global-nav">
        <ul class="nav-initial">
          <li><a href="#">BUSINESS</a></li>
          <li><a href="#">CULTURE</a></li>
          <li><a href="#">DESIGN</a></li>
          <li><a href="#">GEAR</a></li>
          <li><a href="#">SCIENCE</a></li>
          <li><a href="#">SECURITY</a></li>
          <li><a href="#">TRANSPORTATION</a></li>
          <li><a href="#">PHOTO</a></li>
          <li><a href="#">VIDEO</a></li>
          <li><a href="#">BACKCHANNEL</a></li>
        </ul>
      </nav>
    </header>
    <div class="wrapper-main-contents">
      {{{body}}}
    </div>
    <footer class="global-footer">
        <div class="logo-area">
          <img src="#" alt="wired-logo">
        </div>
        <div class="sns-area">
          <img src="#" alt="facebook">
          <img src="#" alt="twitter">
          <img src="#" alt="pinterest">
          <img src="#" alt="youtube">
          <img src="#" alt="tumblr">
          <img src="#" alt="instagram">
        </div>
        <div class="lnk-area">
          <a href="#">LOGIN</a>
          <a href="#">SUBSCRIBE</a>
          <a href="#">ADVERTISE</a>
          <a href="#">SITE MAP</a>
          <a href="#">PRESS CENTER</a>
          <a href="#">FAQ</a>
          <a href="#">CUSTOMER CARE</a>
          <a href="#">CONTACT US</a>
          <a href="#">SECUREDROP</a>
          <a href="#">T-SHIRT COLLECTION</a>
          <a href="#">NEWSLETTER</a>
          <a href="#">WIRED STAFF</a>
          <a href="#">JOBS</a>
          <a href="#">RSS</a>
        </div>
        <div class="legal-area">
          <p>CNMN Collection</p>
          <p>Use of this site constitutes acceptance of our <a href="#" class="lnk-text">user agreement</a> (effective 3/21/12) and <a href="#" class="lnk-text">privacy policy</a> (effective 3/21/12). <a href="#" class="lnk-text">Affiliate link policy</a>. <a href="#" class="lnk-text">Your California privacy rights</a>. The material on this site may not be reproduced, distributed, transmitted, cached or otherwise used, except with the prior written <a href="#" class="lnk-text">permission of Condé Nast.</a></p>
        </div>
        <div></div>
    </footer>
  </body>
</html>
